body{
  background-image: url("../imagenes/prof.jpg");
}
.colo1{
  color: white;
  text-align: center;
  font-weight: bold;900;
font-size: 50px;
}

.colo2{
  color: red;
  font-weight: 250px;
  font-size: 20px;
}
.colo3{
  color: white;
}

.bold{
  font-weight: bold;
}
.ima{
  weight: 180px;
  height: 160px;
  color: black;
}

.borde{
border: 10px solid;
}

.cardd{
  background-color: #fff0;
  border: 1px solid rgb(0, 0, 0);
}
